@import url("../node_modules/materialize-css/dist/css/materialize.min.css");

html {
  font-family: 'Roboto', sans-serif !important;
}

body {
  font-size: 13px;
  line-height: 20px;
}

header, main, footer {
    padding-left: 240px;
}

header {
	padding-top: 64px;
}

.side-nav.fixed {
	padding-top: 64px;
}
