@import url("../node_modules/materialize-css/dist/css/materialize.min.css");

/*html {
  font-family: 'Roboto', sans-serif;
}
*/
/*body {
  font-size: 13px;
  line-height: 20px;
}*/

header, main, footer {
    /*padding-left: 256px;*/
}

header {
/*	padding-top: 64px;*/
}

.mainContent {
	padding-left: 256px;
}
.side-nav.fixed {
	/*padding-top: 64px;*/
}

main {
	margin-top: 5px;
}